.App {
  text-align: center;
  background-color: rgba(169, 169, 169, 0.614);
}

table{
 background-color: rgba(0, 0, 255, 0.066);
  margin: auto;
  justify-content: space-around;
}

.thead{
  color: red;
  background-color: rgba(27, 114, 191, 0.276);
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.tbody{
  color: rgb(6, 0, 0);
  background-color: rgba(27, 114, 191, 0.276);
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

#nav{
  background-color: beige;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 1vh;
}